<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card fxLayout="column" class="signup-card">
    <div formGroupName="name">
      <mat-form-field>
        <input type="text" matInput placeholder="ime" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="prezime" formControlName="lastName" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input type="email" matInput placeholder="email" formControlName="email" required [ngClass]="{
        'bad-email': email.invalid && form.controls.email.dirty,
        'good-email': email.valid && form.controls.email.dirty
      }">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="lozinka" formControlName="password" required>
      <div *ngIf="password.errors && (password.dirty || password.touched)">
        <mat-error *ngIf="password.errors.required">Loznika je obavezno polje.</mat-error>
        <mat-error *ngIf="password.errors.minlength">Dužina lozinke mora biti najmanje 8 znakova, nedostaje {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}}.</mat-error>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="jezik" formControlName="language">
        <mat-option *ngFor="let lang of languages" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-button mat-raised-button color="primary">Potvrdi</button>
  </mat-card>
</form>
<pre>{{ form.value | json }}</pre>
